{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": false
    }]
  ],
  "plugins": [
    ["transform-react-remove-prop-types", {
      "removeImport": true
    }],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
